<!DOCTYPE html>
<html>
    <head>
        <title>更改密碼</title>
    </head>
    <body>
        <h1>更改密碼</h1>
        <% if (message.length > 0) { %>
            <p><%= message %></p>
        <% } %>
        <form action="/changepassword" method="post">
            <label>目前密碼：</label>
            <input type="password" name="currentpassword"><br><br>
            <label>新密碼：</label>
            <input type="password" name="newpassword"><br><br>
            <label>確認新密碼：</label>
            <input type="password" name="confirmpassword"><br><br>
            <input type="submit" value="更改密碼">
        </form>
    </body>
</html>
